<h1>Articoli disponibili</h1>
<table id="articoli" border="1">
    <caption>Alimentari</caption>
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            <th>Pezzi</th>
            <th>Peso(Kg/l)</th>
            <th>Prezzo</th>
            <th>Attivo</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articolo of articoli">
            <td>{{articolo.codart}}</td>
            <td>{{articolo.descrizione}}</td>
            <td>{{articolo.pzcart}}</td>
            <td>{{articolo.peso}}</td>
            <td>{{articolo.prezzo | currency:'EUR':'symbol':'2.3-5'}}</td>
            <td>{{articolo.active}}</td>
            <td>{{articolo.data | date : 'EEEE  - dd / MM / yyyy'}}</td>
        </tr>

    </tbody>
</table>